@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/*Root e afins*/
:root {
    --header-title-font: Italianno;
    --default-font: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: black;
}

#body-funcoes {
    background-color: black;
    background-image: linear-gradient(to bottom, rgb(60, 60, 60), black);
}

/*Header e afins*/
header {
    background: black url("imagens/forja-background.jpg") center bottom fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

header h1 {
    font-family: var(--header-title-font);
    font-size: 9vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 0px;
}

header .tituloHeaderCurto {
    font-size: 12vw;
}

header strong {
    color: #F5860F;
}

header p {
    margin-top: 0px;
    font-size: 1.3em;
    font-family: var(--default-font);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

header>section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

header>section>article {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

header  nav.header-nav-padrao {
    position: absolute;
    top: 80%;
    right: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    width: max-content;
}
header  nav.header-nav-padrao > a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.1em;
    color: #F5860F;
    text-decoration: none;
    padding: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
header  nav.header-nav-padrao > a:hover {
    background-color: #4B4136;
    border-radius: 15px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);;
}


/*Main e afins*/
main h1 {
    margin-top: 0px;
}

/*Seção padrão e afins*/
section.section-padrao {
    height: fit-content;
    padding: 50px;
}

article.article-padrao {
    margin: auto;
    color: white;
    padding: 20px;
    border-radius: 20px;
    max-width: 800px;
    text-align: center;
}

article.article-padrao  h1 {

    font-size: 2.5em;
}

article.article-padrao  h2 {
    font-size: 1.8em;
}

article.article-padrao  h3 {
    font-size: 1.5em;
}

article.article-padrao  p {
    text-align: justify;
    font-size: 1.2em;
}

.container-calculos {
    background-color: white;
    text-align: center;
    color: black;
    padding: 20px;
    border-radius: 25px;
}

/*Inputs, botoes e afins*/
input {
    padding: 10px;
    border: 1.5px solid transparent;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

input:hover {
    border: 1.5px solid black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.container-calculos > input {
    color: white;
}

button {
    display: block;
    margin: 30px auto;
    padding: 10px;
    border: 1.5px solid transparent;
    border-radius: 15px;
}

button:hover {
    background-color: rgba(233, 233, 233, 0.8);
    border: 1.5px solid darkgrey;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}



#resultadoDaFuncao {
    text-align: center;
}

#resultadoDaFuncaoQuadratica {
    text-align: center;
}

/*Explicação introdutória e afins*/
#section-explicacao-introdutoria {
    position: relative;
    background: black url("imagens/oceano-background.jpg") center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#explicacao-introdutoria {
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%);
    width: 60vw;
    max-width: 700px;
    background-color: rgba(15, 45, 44, 0.5);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#explicacao-introdutoria h1 {
    color: #90ADAC;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#explicacao-introdutoria h2 {
    color: #ADD8D6;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#explicacao-introdutoria p {
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}


/*Promessas e afins*/
#section-promessas {
    position: relative;
    background: black url("imagens/oceano-escuro.jpg") center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#promessas {
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%);
    width: 60vw;
    max-width: 700px;
    background-color: rgba(1, 35, 47, 0.5);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
#promessas > h1 {
    color: #5A97AD;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
#promessas > h2 {
    color: #779FAD;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
#promessas > p {
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}


/*Footer e afins*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
footer > p {
    margin: 0px;
}