@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/*Root e afins*/
:root {
    --header-title-font: Italianno;
    --default-font: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    /*background-image: linear-gradient(to top, #C5554C, #700E06);*/
}


/*Header e afins*/
header {
    background: black url("imagens/natureza-background.jpg") center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

header h1 {
    font-family: var(--header-title-font);
    font-size: 9vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 0px;
}

header strong {
    color: #AB201F;
}

header p {
    margin-top: 0px;
    font-size: 1.2em;
    font-family: var(--default-font);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

header>section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

header>section>article {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

/*Main e afins*/
main {
    background-color: white;
}

main h1 {
    margin-top: 0px;
}

#section-explicacao-introdutoria {
    position: relative;
    background: black url("imagens/montanha-background.jpg") center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#explicacao-introdutoria {
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%);
    width: 50vw;
    max-width: 700px;
}

#explicacao-introdutoria h1 {
    color: #22737A;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#explicacao-introdutoria h2 {
    color: #7FC9CF;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#explicacao-introdutoria p {
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}